@font-face{
    font-family: 'ptsans-regular' ;
    src: url("../fonts/PTSans-Regular.ttf");
}
@font-face{
    font-family: 'ptsans-bold';
    src: url("../fonts/PTSans-Bold.ttf");
}

@font-face{
    font-family: 'exo';
    src: url("../fonts/Exo2-VariableFont_wght.ttf");
}

$font-1: 'ptsans-regular';
$font-2: 'ptsans-bold';
$font-3: 'exo';
$main-color: #0B7572;


p{
    font-family: $font-3;
    line-height: 24px;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style-type: none;
}

main{
    width: 100%;
    height: auto;

    // HERO

    .hero{
        z-index: 2;
        width: 100%;
        height: 800px;
        display: flex;
        .hero-1{
            width: 60%;
            height: 100%;
            h1{
                width: 610px;
                font-family: $font-3;
                font-size: 52px;
                padding-top: 200px;
                margin-left: 100px;
            }

            p{
                width: 525px;
                font-family: $font-1;
                color: #666;
                margin-left: 100px;
                margin-top: 40px;
                margin-bottom: 40px;
            }

            a{
                margin-left: 100px;
                font-family: $font-2;
                color: #000;
                border-bottom: 2px solid #fff000;
                padding: 10px;
                transition: .5s;    
                &:hover{
                    border-bottom: #fff000 3px solid;
                    transition: .5s;
                }
            }
        }
        .hero-2{
            width: 40%;
            height: 100%;
            background-color: $main-color;
            z-index: 0;
            img{
                width: 650px;
                border-radius: 20px;
                position: absolute;
                z-index: 2;
                top: 120px;
                right: 100px;
            }
        }
        

    }

    // SEARCH


    .search{
        margin-top: -100px;
        width: 100%;
        height: 320px;
        position: absolute;
        
        .container{
            background-color: #fff;
            width: 80%;
            height: 100%;
            margin: auto;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: grid;
            grid-template-columns: repeat(3 , 228px);
            grid-template-rows: 245px;
            justify-content: center;
            align-content: center;
            grid-column-gap:150px ;
            div{
                .img{
                    width: 97px;
                    height: 97px;
                    border-radius: 50%;
                    background-color: #e9e9e9;
                    box-shadow: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 32px;
                }
                .content{
                    width: 228px;
                    height: auto;
                    background-color: transparent;
                    border-radius: 0%;
                    display: flex;
                    flex-direction: column;
                    h2{
                        font-family: $font-2;
                        width: 228px;
                        font-size: 20px;
                        margin-bottom: 30px;
                        
                    }

                    p{
                        width: 225px;
                        height: 65px;
                        font-family: $font-1;
                    }

                    
                }
            }
        }
    } 
    
    // WHY US

    .why-us{
        width: 100%;
        height: 550px;
        background-image: url("../images/why--us.jpg");
        background-repeat: no-repeat;
        background-size:cover ;
        margin-top: 300px;
    }

    // WHY US (CARD)

    .why-us-card{
        margin-top: 72px;
        align-content: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2 , 450px);
        grid-template-rows: repeat(2 , 80px);
        grid-row-gap: 60px;
        grid-column-gap: 140px;
        margin-bottom: 120px;
        .img{
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #E9E9EC;
            margin-right: 40px;
        }

        .card-item{
            display: flex;
            align-items: center;
            h2{
                font-family: $font-2;
            }

            p{
                font-family: $font-3;
                width: 291px;
                line-height: 24px;
                font-size: 15px;
            }
        }
    }

    .service{
        width: 100%;
        height: auto;
        .container{
            width: 80%;
            height: 100%;
            margin: auto;
            .contents{
                width: 100%;
                height: 100%;
                margin: auto;
                h2{
                font-family: $font-3;
                font-size: 48px;
                margin-bottom: 32px;
                
            }

            p{
                font-family: $font-1;
                width: 430px;
                height: 41px;
                font-size: 15px;
                margin-bottom: 56px;
            }
            }
            
            .cards{
                display: grid;
                align-content: center;
                justify-content: center;
                grid-template-columns: repeat(3, 363px);
                grid-template-rows: 440px;
                grid-column-gap: 30px;
                .cards-item{
                    img{
                        width: 100%;
                    }
                }
                h2{
                    font-family: $font-1;
                    font-size: 20px;
                    margin-top: 24px;
                    margin-left: 32px;
                }

                p{
                    width: 291px;
                    height: 41px;
                    font-family: $font-1;
                    color: #666;
                    margin-left: 32px;
                }

                span{
                    font-family: $font-2;
                    margin-left: 32px;
                    border-bottom: 2px solid #fff000;
                    padding: 10px;
                }
            }
        }
    }

    .table{
        width: 80%;
        height: 917px;
        margin: auto;
        background-color: $main-color;
        display: flex;
        
        h2{
            margin: 100px 0 0 81px;
            font-family: $font-1;
            color: #fff;
            font-size: 48px;
            width: 400px;
            
        }

        img{
            width: 652px;
            height: 747px;
            margin-top: 85px;
            margin-right: 50px;
        }
        
    }

    .delivery{
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
        h2{
            margin-top: 30px;
            font-size: 48px;
            font-family: $font-3;
            height: 70px;
            margin-bottom: 80px;
        }
        .container{
            width: 100%;
            height: auto;
            align-content: center;
            justify-content: center;
            margin: auto;
            display: grid;
            grid-template-columns: 90%;
            grid-template-rows: repeat(3, 245px);
            grid-row-gap: 20px;
            .delivery-card{
                display: flex;
                align-items: center;
                .content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h3{
                        font-size: 20px;
                        font-family: $font-3;
                        margin-bottom: 40px;    

                    }

                    p{
                        width: 570px;
                        height: 90px;
                        font-size: 15px;
                    }
                }
                img{
                    width: 331px;
                    height: 181px;
                    margin-right: 58px;
                }
            }
        
        }
        
    }

    .companies{
        
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 40px;
        h3{
            font-size: 48px;
            font-family: $font-3;
        }
        .logos{
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(4, 184px);
            grid-template-rows: repeat(2, 184px);
            align-content: center;
            justify-content: center;
            grid-column-gap: 120px;
            grid-row-gap: 50px;
            .logo-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:space-around;
                h3{
                    font-size: 20px;   
                }

                p{
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
    }

    .employees{
        width: 80%;
        height: auto;
        margin: auto;
        h3{
            font-size: 48px;
            font-family: $font-3;
        }

        .workers{
            display: grid;
            grid-template-columns: repeat(2, 45%);
            grid-template-rows: repeat(3, 210px);
            align-content: center;
            justify-content: center;
            grid-column-gap: 30px;
            grid-row-gap: 24px;
        }
    }
}

    






// MEDIA


@media (min-width:1640px){
    main{
        .hero{
            .hero-1{
                h1{
                    font-size: 70px;
                    width: 900px;
                }

                p{
                    width: 650px;
                    font-size: 17px;
                }

                a{
                    font-size: 17px;
                }
            }

            .hero-2{
                img{
                    width: 700px;
                }
            }
        }

        .search{
            .container{
                gap: 200px;
            }
        }

        
    }
}


@media (max-width: 1380px){
    main{
        .hero{
            
            .hero-2{
               
                img{
                    width: 600px;
                    height: 400px;
                    right: 40px;
                }
            }
        }
    }
}

@media (max-width: 1300px){
    main{
        .hero{
            .hero-1{
                h1{
                    font-size: 48px;
                }

                p{
                    width: 500px;
                    font-size: 14px;
                }
                
            }

            .hero-2{
                
                img{
                    width: 550px;
                    height: 350px;
                    right: 40px;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    main{
        .hero{
            .hero-1{
                h1{
                    margin-left: 70px;
                    width: 570px;
                    font-size: 42px;
                }

                p{
                    margin-left: 70px;
                    width: 450px;
                    font-size: 14px;
                }

                a{
                    margin-left: 70px;
                }
                
            }

            .hero-2{
                
                img{
                    top: 140px;
                    width: 500px;
                    height: 400px;
                    right: 40px;
                }
            }
        } 
        
    }
}


@media (max-width:800px){
    main{
        .hero{
            height: 743px;
            .hero-1{
                width: 80%;
                h1{
                
                    width: 466px;
                    font-size: 44px;
                    padding-top: 80px;
                }

                
            }
            .hero-2{
                width: 20%;
                img{
                    top: 430px;
                    width: 690px;
                    height: 314px;
                }
            }
        }

        .search{
            .container{
                margin-top: 150px;
                grid-template-columns: 90%;
                grid-template-rows: repeat(3, 170px);
                width: auto;
                height: auto;
                div{
                    grid-column-gap: 16px;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    margin-bottom: 16px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    .content{
                        box-shadow: none;
                        width: 400px;
                        height: auto;
                        h2{
                            width: auto;
                            margin-left: -109px;     
                        }

                        p{
                            width: 400px;
                        }
                    }

                }
            }
        }

        .why-us{
            margin-top: 600px;
            height:383px;
        }

        .why-us-card{
            grid-template-columns: 90%;
            grid-template-rows: repeat(4 , 88px);
            grid-row-gap: 58px;
            .card-item{
                p{
                    width: 380px;
                }
            }
        }

        .service{
            .container{

                .contents{
                    width: 90%;
                    h2{
                        margin-top: 24px;
                        margin-bottom: 16px;
                    }
                }
                .cards{
                    grid-template-columns: 90%;
                    grid-template-rows: repeat(2, 600px);
                    grid-row-gap: 90px;
                    .cards-item:last-child{
                        display: none;
                    }
                }

            }
        }

        .table{
            flex-direction: column;
            h2{
                font-size: 44px;
                width: 328px;
                height: 100px;
                margin-top: 64px;
                height: 40px;
            }
            img{
                width: 600px;
                height: 685px;
                margin: auto;
                margin-top: 120px;
            }
        }

        .delivery{
            .container{
                .delivery-card{
                    img{
                        display: none;
                    }
                }
            }
        }

        .companies{
            h3{
                font-size: 44px;
            }

            .logos{
                grid-template-columns: repeat(2, 184px);
                grid-template-rows: repeat(4, 184px);
            }
        }
    }
}

@media (max-width:385px){
    main{
        .hero{
            height: 766px;
            color: #fff;
            .hero-1{
                color: #fff;
                background-color: $main-color;
                width: 100%;
                h1{
                    width: 334px;
                    font-size: 28px;
                    padding-top: 80px;
                    margin-left: 15px;
                }

                p{
                    color: #fff;
                    width: 344px;
                    font-size: 15px;
                    margin-left: 15px;
                }
                
                a{
                    margin-left: 15px;
                    color: #fff;
                }
                
            }
            .hero-2{
                width: 0%;
                img{
                    top: 380px;
                    width: 345px;
                    height: 254px;
                    right: 15px;
                }
            }
        }

        .search{
            .container{
                width: 90%;
                height: 645px;
                margin-top: -20px;
                grid-row-gap: 23px;
                div{
                    flex-direction: column;
                    box-shadow: none;
                
                    .img{
                        width: 68px;
                        height: 68px;
                        background-color: #e9e9e9;
                        margin-left: -190px;
                        margin-top: 24px;
                        
                        

                        img{
                            width: 36px;
                            height: 68px;
                        }
                    }

                    .content{
                        margin-bottom: 70px;
                        h2{
                            width: 218px;
                            height: 43px;
                            font-size: 18px;
                            margin-left: -40px;
                            margin-bottom: 0;
                            
                        }

                        p{
                            width: 286px;
                            height: 39px;
                            margin-top: 16px;
                            margin-left: 25px;
                            font-size: 15px;
                        }


                    }
                }

                

            }
        }

        .why-us{
            display: none;
        }

        .why-us-card{
            margin-top: 600px;
            grid-template-columns: 90%;
            grid-template-rows: repeat(4 , 88px);
            grid-row-gap: 58px;
            .card-item{
                p{
                    width: 269px;
                    font-size: 14px;
                }
            }
        }

        .service{
            
            .container{

                .contents{
                h2{
                    width: 344px;
                    font-size: 28px;
                    margin-top: 24px;
                    margin-bottom: 16px;
                }
                p{
                    margin-bottom: 24px;
                    width: 300px;
                    height: 62px;
                    font-size: 15px;
                }
                }
                
                .cards{
                    grid-template-columns: 90%;
                    grid-template-rows: 345px;
                    grid-row-gap: 90px;

                    .cards-item{
                        h2{
                            margin-left: 20px;
                        }

                        p{
                            margin-top: 16px;
                            width: 291px;
                            height: 39px;
                            margin-left: 20px;
                            margin-bottom: 24px;
                            font-size: 15px;
                        }

                        span{
                            margin-left: 20px;
                            font-size: 15px;
                        }
                    }
                    .cards-item:nth-child(2){
                        display: none;
                    }
                }

            }
        }

        .table{
            width: 100%;
            height: auto;
            h2{
                font-size: 44px;
                width: 345px;
                height: 100px;
                padding-top: 32px;
                height: 40px;
                font-size: 28px;
                text-align: center;
                margin: auto;
            }
            img{
                width: 345px;
                height: 507px;
                margin: auto;
                margin-top: 20px;
            }
        }

        .delivery{
            h2{
                font-size: 28px;
            }
            .container{
                grid-row-gap: 60px;
                .delivery-card{
                    
                    .content{
                        h3{
                            font-size: 18px;
                        }

                        p{
                            
                            width: 241px;
                            height: 85px;
                        }
                    }
                }
            }
        }

        .companies{
            width: 100%;
            h3{
                font-size: 44px;
            }

            .logos{
                grid-template-columns: repeat(2, 172px);
                grid-template-rows: repeat(2, 172px);
                grid-column-gap: 50px;

                .logo-card:nth-child(5){
                    display: none;
                }

                .logo-card:nth-child(6){
                    display: none;
                }

                .logo-card:nth-child(7){
                    display: none;
                }

                .logo-card:nth-child(8){
                    display: none;
                }
            }
        }

    }
}

